div.random-beer {
  min-height: 212px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  border-radius: 12px;
  border: 1px solid #1890ff !important;
  padding: 16px;
  margin: 22px;

  div.title-block {
    flex-basis: 10%;
    img {
      margin: 8px auto;
      display: block;
    }
  }
  div.label-block {
    flex-basis: 60%;
    margin: 0px 24px;
  }
  div.cta-block {
    flex-basis: 20%;
    button {
      width: 150px;
    }
    button:first-of-type {
      margin-bottom: 16px;
    }
  }
}
