.beer-drawer {
  .ant-statistic-title {
    color: #00000065;
  }

  span.ant-descriptions-item-label {
    color: #00000065;
  }

  .ant-descriptions-header {
    margin-bottom: 0px;
    margin-top: 24px;
  }
}
