div.beer-list {
  padding: 16px;
  div.beer-item {
    margin-bottom: 12px;
    display: grid;
    grid-template-columns: 1fr 8fr 80px;
    grid-template-rows: 40px auto;
    min-height: 144px;
    div.image {
      grid-row-start: 1;
      grid-row-end: 3;
      img {
        margin: 8px auto;
        display: block;
      }
    }
    div.name {
      margin: 0px 24px;
      h3 {
        color: #1890ff;
      }
    }
    div.description {
      margin: 0px 24px;
      grid-column-start: 2;
      grid-column-end: 4;
    }
    span.abv {
      text-align: right;
      color: #a9a9a9;
    }
  }
}
.beer-list-filters {
  margin: 8px;
  padding: 8px 16px;
  box-shadow: 1px 1px 6px 0px rgba(150, 170, 180, 0.5);
  border-radius: 12px;
  > div > div {
    box-shadow: none;
  }
}
